# Binaries for programs and plugins
addon-manager
*.exe
*.dll
*.so
*.dylib
!vendor/**

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
