# Binaries for programs and plugins
registration
dev-kubeconfig
e2e-kubeconfig
integration.test
e2e.test
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
_output/
.idea/

deploy/webhook/cert