apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: open-cluster-management:{{ .ClusterManagerName }}-placement:controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: open-cluster-management:{{ .ClusterManagerName }}-placement:controller
subjects:
- kind: ServiceAccount
  namespace: open-cluster-management-hub
  name: {{ .ClusterManagerName }}-placement-controller-sa
