# Binaries for programs and plugins
work
*.exe
*.dll
*.so
*.dylib
!vendor/**
.idea
.project
deploy/webhook/cert
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
