apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: managedclusteraddons.addon.open-cluster-management.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.conditions[?(@.type=="Progressing")].status
    name: Progressing
    type: string
  - JSONPath: .status.conditions[?(@.type=="Available")].status
    name: Available
    type: string
  - JSONPath: .status.conditions[?(@.type=="Degraded")].status
    name: Degraded
    type: string
  group: addon.open-cluster-management.io
  names:
    kind: ManagedClusterAddOn
    listKind: ManagedClusterAddOnList
    plural: managedclusteraddons
    singular: managedclusteraddon
  preserveUnknownFields: false
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ManagedClusterAddOn is the Custom Resource object which holds the
        current state of an add-on. This object is used by add-on operators to convey
        their state. This resource should be created in the ManagedCluster namespace.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: spec holds configuration that could apply to any operator.
          type: object
        status:
          description: status holds the information about the state of an operator.  It
            is consistent with status information across the Kubernetes ecosystem.
          properties:
            addOnConfiguration:
              description: addOnConfiguration is a reference to configuration information
                for the add-on. This resource is use to locate the configuration resource
                for the add-on.
              properties:
                crName:
                  description: crName is the name of the CR used to configure instances
                    of the managed add-on. This field should be configured if add-on
                    CR have a consistent name across the all of the ManagedCluster
                    instaces.
                  type: string
                crdName:
                  description: crdName is the name of the CRD used to configure instances
                    of the managed add-on. This field should be configured if the
                    add-on have a CRD that controls the configuration of the add-on.
                  type: string
              type: object
            addOnMeta:
              description: addOnMeta is a reference to the metadata information for
                the add-on. This should be same as the addOnMeta for the corresponding
                ClusterManagementAddOn resource.
              properties:
                description:
                  description: description represents the detailed description of
                    the add-on.
                  type: string
                displayName:
                  description: displayName represents the name of add-on that will
                    be displayed.
                  type: string
              type: object
            conditions:
              description: conditions describe the state of the managed and monitored
                components for the operator.
              items:
                description: "Condition contains details for one aspect of the current
                  state of this API Resource. --- This struct is intended for direct
                  use as an array at the field path .status.conditions.  For example,
                  type FooStatus struct{     // Represents the observations of a foo's
                  current state.     // Known .status.conditions.type are: \"Available\",
                  \"Progressing\", and \"Degraded\"     // +patchMergeKey=type     //
                  +patchStrategy=merge     // +listType=map     // +listMapKey=type
                  \    Conditions []metav1.Condition `json:\"conditions,omitempty\"
                  patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`
                  \n     // other fields }"
                properties:
                  lastTransitionTime:
                    description: lastTransitionTime is the last time the condition
                      transitioned from one status to another. This should be when
                      the underlying condition changed.  If that is not known, then
                      using the time when the API field changed is acceptable.
                    format: date-time
                    type: string
                  message:
                    description: message is a human readable message indicating details
                      about the transition. This may be an empty string.
                    maxLength: 32768
                    type: string
                  observedGeneration:
                    description: observedGeneration represents the .metadata.generation
                      that the condition was set based upon. For instance, if .metadata.generation
                      is currently 12, but the .status.conditions[x].observedGeneration
                      is 9, the condition is out of date with respect to the current
                      state of the instance.
                    format: int64
                    minimum: 0
                    type: integer
                  reason:
                    description: reason contains a programmatic identifier indicating
                      the reason for the condition's last transition. Producers of
                      specific condition types may define expected values and meanings
                      for this field, and whether the values are considered a guaranteed
                      API. The value should be a CamelCase string. This field may
                      not be empty.
                    maxLength: 1024
                    minLength: 1
                    pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                    type: string
                  status:
                    description: status of the condition, one of True, False, Unknown.
                    enum:
                    - "True"
                    - "False"
                    - Unknown
                    type: string
                  type:
                    description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      --- Many .condition.type values are consistent across resources
                      like Available, but because arbitrary conditions can be useful
                      (see .node.status.conditions), the ability to deconflict is
                      important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                    maxLength: 316
                    pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                    type: string
                required:
                - lastTransitionTime
                - message
                - reason
                - status
                - type
                type: object
              type: array
            relatedObjects:
              description: 'relatedObjects is a list of objects that are "interesting"
                or related to this operator. Common uses are: 1. the detailed resource
                driving the operator 2. operator namespaces 3. operand namespaces
                4. related ClusterManagementAddon resource'
              items:
                description: ObjectReference contains enough information to let you
                  inspect or modify the referred object.
                properties:
                  group:
                    description: group of the referent.
                    type: string
                  name:
                    description: name of the referent.
                    type: string
                  resource:
                    description: resource of the referent.
                    type: string
                required:
                - group
                - name
                - resource
                type: object
              type: array
          type: object
      required:
      - spec
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
