name: CloudEventsIntegration

on:
  workflow_dispatch: {}
  pull_request:
    paths:
     - 'pkg/work/spoke/*.go'
     - 'test/integration/work/**'
    branches:
      - main
      - release-*

env:
  GO_VERSION: '1.23'
  GO_REQUIRED_MIN_VERSION: ''

permissions:
  contents: read

jobs:
  integration:
    name: cloudevents-integration
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: integration
        run: make test-cloudevents-integration
