name: E2E

on:
  workflow_dispatch: {}
  pull_request:
    paths-ignore:
      - 'solutions/**'
      - 'assets/**'
      - 'troubleshooting/**'
      - ".github/ISSUE_TEMPLATE/*"
      - 'README.md'
      - '*.md'
    branches:
      - main
      - release-*

env:
  GO_VERSION: '1.24'
  GO_REQUIRED_MIN_VERSION: ''
  USE_EXISTING_CLUSTER: false # set to true to use an existing kind cluster for debugging with act

permissions:
  contents: read

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Test E2E
        run: |
          echo "test"
  e2e-hosted:
    runs-on: ubuntu-latest
    steps:
      - name: Test E2E
        run: |
          echo "test"
  e2e-singleton:
    runs-on: ubuntu-latest
    steps:
      - name: Test E2E
        run: |
          echo "test"
