name: Post

on:
  push:
    paths-ignore:
      - 'solutions/**'
      - 'assets/**'
      - 'troubleshooting/**'
      - ".github/ISSUE_TEMPLATE/*"
    branches:
      - main
  workflow_dispatch: {}

env:
  # Common versions
  GO_VERSION: '1.19'
  GO_REQUIRED_MIN_VERSION: ''

jobs:
  images:
    name: images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ amd64, arm64 ]
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      - name: pull base image
        run: docker pull registry.access.redhat.com/ubi8/ubi-minimal:latest --platform=linux/${{ matrix.arch }}
      - name: images
        run: |
          IMAGE_TAG=latest-${{ matrix.arch }} \
          IMAGE_BUILD_EXTRA_FLAGS="--build-arg OS=linux --build-arg ARCH=${{ matrix.arch }}" \
            make images
      - name: push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login quay.io --username ${{ secrets.DOCKER_USER }} --password-stdin
          docker push quay.io/open-cluster-management/registration-operator:latest-${{ matrix.arch }}
          docker push quay.io/open-cluster-management/registration:latest-${{ matrix.arch }}
          docker push quay.io/open-cluster-management/work:latest-${{ matrix.arch }}
          docker push quay.io/open-cluster-management/placement:latest-${{ matrix.arch }}
  image-manifest:
    name: image manifest
    runs-on: ubuntu-latest
    needs: [ images ]
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: create
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login quay.io --username ${{ secrets.DOCKER_USER }} --password-stdin
          # registration-operator
          docker manifest create quay.io/open-cluster-management/registration-operator:latest \
            quay.io/open-cluster-management/registration-operator:latest-amd64 \
            quay.io/open-cluster-management/registration-operator:latest-arm64
          # registration
          docker manifest create quay.io/open-cluster-management/registration:latest \
            quay.io/open-cluster-management/registration:latest-amd64 \
            quay.io/open-cluster-management/registration:latest-arm64
          # work
          docker manifest create quay.io/open-cluster-management/work:latest \
            quay.io/open-cluster-management/work:latest-amd64 \
            quay.io/open-cluster-management/work:latest-arm64
          # placement
          docker manifest create quay.io/open-cluster-management/placement:latest \
            quay.io/open-cluster-management/placement:latest-amd64 \
            quay.io/open-cluster-management/placement:latest-arm64
      - name: annotate
        run: |
          # registration-operator
          docker manifest annotate quay.io/open-cluster-management/registration-operator:latest \
            quay.io/open-cluster-management/registration-operator:latest-amd64 --arch amd64
          docker manifest annotate quay.io/open-cluster-management/registration-operator:latest \
            quay.io/open-cluster-management/registration-operator:latest-arm64 --arch arm64
          # registration
          docker manifest annotate quay.io/open-cluster-management/registration:latest \
            quay.io/open-cluster-management/registration:latest-amd64 --arch amd64
          docker manifest annotate quay.io/open-cluster-management/registration:latest \
            quay.io/open-cluster-management/registration:latest-arm64 --arch arm64
          # work
          docker manifest annotate quay.io/open-cluster-management/work:latest \
            quay.io/open-cluster-management/work:latest-amd64 --arch amd64
          docker manifest annotate quay.io/open-cluster-management/work:latest \
            quay.io/open-cluster-management/work:latest-arm64 --arch arm64
          # placement
          docker manifest annotate quay.io/open-cluster-management/placement:latest \
            quay.io/open-cluster-management/placement:latest-amd64 --arch amd64
          docker manifest annotate quay.io/open-cluster-management/placement:latest \
            quay.io/open-cluster-management/placement:latest-arm64 --arch arm64
      - name: push
        run: |
          docker manifest push quay.io/open-cluster-management/registration-operator:latest
          docker manifest push quay.io/open-cluster-management/registration:latest
          docker manifest push quay.io/open-cluster-management/work:latest
          docker manifest push quay.io/open-cluster-management/placement:latest
