name: Pre

on:
  workflow_dispatch: {}
  pull_request:
    paths-ignore:
      - 'solutions/**'
      - 'assets/**'
      - 'troubleshooting/**'
      - ".github/ISSUE_TEMPLATE/*"
    branches:
      - main
      - release-*

env:
  GO_VERSION: '1.24'
  GO_REQUIRED_MIN_VERSION: ''

permissions:
  contents: read

jobs:
  verify:
    name: verify
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: verify
        run: make verify
      - name: verify-deps
        run: make verify-deps
      - name: verify-fmt-imports
        run: make verify-fmt-imports

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: echo "build"

  unit:
    name: unit
    runs-on: ubuntu-latest
    steps:
      - name: unit
        run: echo "unit"

  integration:
    name: integration
    runs-on: ubuntu-latest
    steps:
      - name: integration
        run: echo "integration"