name: Pre

on:
  workflow_dispatch: {}
  pull_request:
    paths-ignore:
      - 'solutions/**'
      - 'assets/**'
      - 'troubleshooting/**'
      - ".github/ISSUE_TEMPLATE/*"
    branches:
      - main
      - release-*

env:
  GO_VERSION: '1.24'
  GO_REQUIRED_MIN_VERSION: ''

permissions:
  contents: read

jobs:
  verify:
    name: verify
    runs-on: ubuntu-latest
    steps:
      - name: verify
        run: echo "verify"

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: echo "build"

  unit:
    name: unit
    runs-on: ubuntu-latest
    steps:
      - name: unit
        run: echo "test"

  integration:
    name: integration
    runs-on: ubuntu-latest
    steps:
      - name: integration
        run: echo "test-integration"
